{% extends 'main/base.html' %} {% block title %} Main page {% endblock %} 
{% block content %}
<h1>Main page</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsam laboriosam
  quaerat qui sed. Ab accusamus alias consectetur corporis, debitis deserunt
  dolor doloribus est facere facilis fuga fugit laudantium magnam minus
  molestiae natus nisi odio perspiciatis porro quia quisquam reprehenderit
  repudiandae sapiente suscipit tempora temporibus ullam veniam vero vitae
  voluptatem.
</p>
<button type="button" class="btn btn-warning">Warning</button>
{% endblock %}
