   {% load static %}


   <aside>
       <img src="{% static 'main/img/NewTux.svg' %}" alt="pinguin" width="100px">
       <ul>
           <a href="{% url 'home' %}">
               <li><i class="bi bi-house"></i> Home</li>
           </a>
           <a href="{% url 'about' %}">
               <li><i class="bi bi-file-person"></i> About Us</li>
           </a>
           <a href="{% url 'news_home' %}">
               <li><i class="bi bi-newspaper"></i> News</li>
           </a>
       </ul>
   </aside>